@charset "UTF-8";

body {
    background-color: rgb(168, 243, 218);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: white;
}

h1 {
    color: #013121;
}

h2 {
    color: #016141;
}

.basico {
    color: #252394;
}

.intermediario {
    color: #704f96;
}

.avancado {
    color: #705116;
}

.destaque {
    background-color: #d1cfd48e;
}